body {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.content a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.stale {
    opacity: 0.5;   
}

.nav__left {
    float: left;
}

.nav__right {
    float: right;
}

.nav__left,
.nav__right {
    width: 100px;
    z-index: 1;
}

.nav__center {
    position: absolute ! important;
    left: 0;
    width: 100%;
}

.nav__title {
    font-size: 38px ! important;
    font-weight: 100 ! important;
}

.nav__title a.backnav {
    padding: 0 15px;
}

.loading {
    display: none;
    position: absolute;
    z-index: 100;
    width: 72px;
    height: 72px;
    top: 50%;
    left: 50%;
    margin-top: -32px;
    margin-left: -32px;
}

.entry__content {
    overflow-y: auto;
    font-size: 44px;
    line-height: 48px;
    padding: 4px 0;
}

.entry__left {
    float: left;
    width: 70%;
}

.entry__empty {
    opacity: 0.6;
    font-style: italic;
}

.entry.highlight .entry__left {
    font-weight: bold;
}

.entry__right {
    float: right;
    width: 25%;
    text-align: right;
}

.remove {
    display: none;
    padding: 0 40px;
}

.entry__title {
    float: none;
    line-height: 56px;
}

.entry__subtitle {
    float: none;
    font-size: 22px;
    line-height: 26px;
}

.entry__miles:after {
    font-size: 22px;
    content: " mi";
}

.entry__minutes:after {
    font-size: 16px;
    content: " min,";
}

.entry__right .entry__title .entry__minutes:after {
    font-size: 22px;
}

.entry__minutes:last-child:after {
    font-size: 16px;
    content: " min";
}

.search {
    padding: 1em 0;
    text-align: center;   
}

.search__input {
    padding-right: 1.3em ! important;
}

.search input {
    margin-bottom: 1em ! important;   
}

.search__add,
.search__quick {
    margin: 0 1em ! important;   
}

.pac-container {
    font-size: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    overflow: hidden;
    width: 100%;
    border-radius: 10px;
    padding: 1em;
    margin-left: -1em;
}