.content-place-stops,
.content-routes,
.content-directions,
.content-route-stops,
.content-predictions {
    display: none;   
}

.highlight {
    font-weight: bold;
}

.header {
    overflow-y: auto;
    height: 50px;
}

.header__left {
    position: relative;
    top: 8px;
    font-size: 28px;
    float: left;
}

.header__right {
    float: right;
}

.entry__content {
    overflow-y: hidden;
    font-size: 42px;
    line-height: 52px;
}

.entry__left {
    float: left;
    width: 70%;
}

.entry__right {
    float: right;
    width: 30%;
    text-align: right;
}

.entry__remove {
    display: none;
}

.entry__title {
    float: none;
}

.entry__subtitle {
    float: none;
    font-size: 20px;
    line-height: 22px;
}

.entry-route,
.entry-direction,
.entry-stop,
.entry-prediction {
    font-size: 20px;
    line-height: 22px;
}

.entry__numbers {
    float: right;
}

.entry__minutes {
    float: left;
    font-size: 20px;
    line-height: 22px;
    height: 22px;
}

.entry__minutes:after {
    font-size: 16px;
    content: " min,";
    padding-right: 0.5em;
}

.entry__minutes:first-child {
    float: none;
    font-size: 42px;
    line-height: 52px;
    height: 52px;
}

.entry__minutes:first-child:after {
    font-size: 20px;
    content: " min";
}

.entry__minutes:last-child:after {
    font-size: 16px;
    content: " min";
}
