.highlight {
    font-weight: bold;
}

.header {
    overflow-y: auto;
}

.header__left {
    position: relative;
    font-size: 42px;
    line-height: 52px;
    float: left;
}

.header__right {
    float: right;
}

.entry__content {
    overflow-y: auto;
    font-size: 42px;
    line-height: 52px;
    padding: 1px;
}

.entry__left {
    float: left;
    width: 70%;
}

.entry__right {
    float: right;
    width: 30%;
    text-align: right;
}

.entry__remove {
    display: none;
}

.entry__title {
    float: none;
    line-height: 52px;
}

.entry__subtitle {
    float: none;
    font-size: 20px;
    line-height: 22px;
}

.entry__minutes:after {
    font-size: 16px;
    content: " min,";
}

.entry__right .entry__title .entry__minutes:after {
    font-size: 22px;
}

.entry__minutes:last-child:after {
    font-size: 16px;
    content: " min";
}
